<div class="container">
    <br>
    <br>

    <h3 style="background-color: rgb(231, 31, 124); font-size: 40px; color: white; padding: 10px; border-radius: 8px;">Choose Service According your Need</h3>

</div>
<div style="text-align: center;">
    <br>
    <br>
    <br>
    <button style="background-color: white; border: none;" [routerLink]="['/service/driver']"> <img src="../../../assets/1.png" style="width: 180px; height:145px;" alt=""><br><h4><b>Driver</b></h4>
</button> &nbsp;&nbsp;
    <button style="background-color: white; border: none;" [routerLink]="['/service/maid']"> 
    <img src="../../../assets/2.png" style="width: 180px; height:145px;" alt=""><br>
    <h4><b>Maid</b></h4>
    </button> &nbsp;&nbsp;

    <button style="background-color: white; border: none;" [routerLink]="['/service/electrician']">
    <img src="../../../assets/3.png" style="width: 180px; height:145px;" alt=""><br>
    <h4><b>Electrician</b></h4>
    </button> &nbsp;&nbsp;

    <button style="background-color: white; border: none;" [routerLink]="['/service/plumber']">
        <img src="../../../assets/4.png" style="width: 180px; height:145px;" alt=""><br> <h4><b>Plumber</b></h4>
    </button> &nbsp;&nbsp;

    <button style="background-color: white; border: none;" [routerLink]="['/service/painter']">
        <img src="../../../assets/5.png" style="width: 180px; height:145px;" alt=""><br> <h4><b>Painter</b></h4>
    </button> &nbsp;&nbsp;

    <button style="background-color: white; border: none;" [routerLink]="['/service/gardener']">
        <img src="../../../assets/6.png" style="width: 180px; height:145px;" alt=""><br> <h4><b>Gardener</b></h4>
    </button>

</div>