<div class="container" style="width: 50%;">
    <br>
    <br>

    <table class="table  table-hover">
        <thead>
            <tr class="table-primary">
                <td>S.No.</td>
                <td>Date</td>
                <td>Status</td>
                <td>View</td>
                <td>Review</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.reverse();let i = index">
                <td>{{i+1}}</td>
                <td>{{item.serDate}}</td>
                <td>
                    <span *ngIf="item.serstatus==1">Not Accepted Not Denied </span>
                    <span *ngIf="item.serstatus==2"> Accepted </span>
                    <span *ngIf="item.serstatus==3"> Denied </span>
                </td>
                <td><button type="button" style="background-color: rgb(32, 158, 216) ; color: white;" class="form-control btn-sm" (click)="viewUser(item.user_id)">View</button></td>
                <td>
                    <button *ngIf="item.feedback_id!=0" type="button" style="background-color: rgb(255, 0, 128); width: 50%; border-color:rgb(9, 255, 0) ;" (click)="viewFeedback(item.feedback_id)" class="btn btn-sm btn-block btn-primary">View Feedback</button>
                    <button *ngIf="item.feedback_id===0" type="button" style="background-color: rgb(255, 0, 128); width: 50%; border-color:rgb(156, 33, 3) ;" (click)="viewSp(item.service_provider)" disabled class="btn btn-sm btn-block btn-primary">Not Filled</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>