<div class="container" style="width: 45%;">
    <br>
    <br>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-primary text-white">
                <td colspan="2">
                    <span style="font-size: large;">User Detils</span>
                </td>
            </tr>
        </thead>
        <tbody style="font-size: 20px;">
            <tr>
                <td>Name</td>
                <td> {{User.firstName}} &nbsp;{{User.lastName}} </td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td>
                    {{User.mobile}}
                </td>
            </tr>

            <tr>
                <td>Email</td>
                <td>{{User.email}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{User.address}}</td>
            </tr>

        </tbody>

    </table>
</div>