<div class="container">
    <br>
    <br>
    <div class="mt4">
        <div style="text-align: center;">
            <img src="../../../assets/admin.png" style="width: 220px; height: 220px;" />
        </div>
        <div style="text-align: center;">
            <form class="example-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width" style="width: 65%;">
                    <mat-label>Email</mat-label>
                    <input style="width: 100%;" matInput placeholder="Please Enter Email" [(ngModel)]="credentials.username" name="uname" #uname="ngModel" [class.is-invalid]="uname.invalid && uname.touched" required>
                    <small class=" text-danger" [class.d-none]="uname.valid || uname.untouched">Email is required field</small>

                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width" style="width: 65%;">
                    <mat-label>Password</mat-label>
                    <input type="password" style="width: 100%;" matInput placeholder="Password" [(ngModel)]="credentials.password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required>
                    <small class=" text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
                </mat-form-field>
                <br>
                <button style="width: 12%;" type="submit" [disabled]="loginForm.form.invalid" mat-raised-button color="primary">Login</button>&nbsp;&nbsp;
                <button style="width: 12%;" mat-raised-button color="accent" (click)="reset(loginForm)">Reset</button><br>
                <br>

            </form>
        </div>
    </div>


</div>