<div class="container">
    <br>
    <div style="text-align: center;"> 
    <h2 style="color: lightseagreen;">About Home Services </h2>
   <img src="../../../assets/Shu.jpg" style="width: 300px; height: 300px;" alt="">
    </div>
  <!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div class="header">
    <div class="main">
   
      <h2>Who we are</h2>
      <p>The Daily Services on Door is the largest online platform .The platform helps customer book reliable home service providers like 
        electrician,cleaning,plumbing,painting etc.The company's vision is to empower millions of service professionals across the
        area to deliver serivce at home like never seen before.
      </p>
     
      <h2>How We do it</h2>
      <p>
        Home Services provides a platform that allows skilled and experienced professionals to connect with users looking for specific
        services.All the professionals, though experienced and skilled undergo intensive training modules before being allowed to list 
        their services on the platform.Once on the platform,our match-making algorithm identifies professional who are closest to the
        user's requirements anmd available at the requested time and date.
      </p>
      </div>
    </div>
</body>

</html>
</div>
